/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #1b1b1b, #39393933);
  color: white;
  text-align: center;
  position: relative;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 2.5vh;
  text-align: right;
  color: #9df63b;
  font-weight: 900;
  font-size: 3vh;
  max-width: 50vh;
}
h1 .Tunes {
  padding-top: 0;
  margin-top: 0;
  display: block;
  text-indent: 2vh;
  text-align: right;
}
.vector {
  /* Vector */

  position: absolute;
  size: 100vh;
  height: 100vh;
  rotate: 0;
  z-index: 2;
  left: 0vh;
}
.vector2 {
  /* Vector */

  position: absolute;
  size: 100vh;
  height: 100vh;
  rotate: 1;
  z-index: 2;
  right: 0;
}
.background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background::before {
  content: "";
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("filtro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3; /* Ajusta la opacidad aquí */
  z-index: 1;
  pointer-events: none; /* Asegúrate de que sea transparente a los clics */
}

.background::after {
  margin: 0;
  padding: 0;
  border: 0;
  content: "";
  background-color: #11111142;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header {
  min-width: 620px;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2.5vh;
  position: relative;
  z-index: 2;
}

header .button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  height: 2vh;
  width: 10vh;
  margin: 0.5vh;
  padding: 0.8vh 2vh 0.8vh 2vh;
  background-color: #9df63b;
  border-radius: 1.5vh;
  font-size: 1.7vh;
  color: black;
  box-shadow: none;
  font-weight: bold;
}

header .button:hover {
  outline: none;
  background-color: #b5f86c;
  color: #121212;
}

header .button:active {
  background-color: #84f00e;
  outline: none;
}

header .button:focus {
  outline: none;
  border-color: #393939;
  border: 0.2vh solid;
  border-radius: 1.5vh;
}

header #register {
  outline: none;
  text-decoration: none;
  margin: 0.5vh;
  padding: 0.8vh 2vh 0.8vh 2vh;
  background-color: #393939;
  color: #9df63b;
  border-radius: 1.5vh;
  font-weight: bold;
}

header #register:hover {
  outline: none;
  background-color: #555555;
  color: #9df63b;
}

header #register:focus {
  outline: none;
  border-color: #9df63b;
  border: 0.2vh solid;
  border-radius: 1.5vh;
  color: #9df63b;
  background-color: #555555;
}

header #register:active {
  outline: none;
  background-color: #282828;
  color: #9df63b;
}

.main-section {
  min-width: 620px;
  all: unset;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  min-height: 100vh;
  color: white;
  text-align: center;
}
.content {
  padding-top: 40vh;
}
.main-section p {
  font-weight: 400;
  font-size: 2vh;
  padding-bottom: 0;
  margin: 0;

  position: relative;
  z-index: 2;
}

.main-section::before {
  all: unset;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  content: "";
  position: absolute;
  top: -30vh;
  left: 0;
  min-width: 620px;
  min-height: 100vh;
  right: 0;
  bottom: 0;
  background: url("disco.png") no-repeat center;
  background-size: 170vh, cover;
  background-position: fixed;

  mix-blend-mode: normal; /* Asegura que se mezcle correctamente */
  opacity: 0.3; /* Ajusta solo las partes visibles del PNG */
  z-index: -1; /* Envía la imagen detrás del contenido */
  pointer-events: none; /* Evita interferencias con el contenido */
}

.main-section h2 {
  font-size: 5vh;
  margin-bottom: 1vh;
  position: relative;
  z-index: 2;
}

.search-bar {
  padding: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;
}

.animated-textarea {
  all: unset;
  resize: none;
  text-align: justify;
  line-height: 2vh;
  display: inline-block;
  cursor: text;
  width: 50vh;
  transition: height 0.3s ease;
  height: 2vh;
  padding: 2vh 2.5vh 2vh 2.5vh;
  border: 0.3vh solid #9df63b;
  border-radius: 3vh;
  background: #1e1e1ead;
  color: #9df63b;
  font-size: 2vh;
}

.search-bar textarea::placeholder {
  color: #9df63b;
}
.search-bar textarea:focus {
  outline: none;
  line-height: normal;
  height: 20vh;
}
.search-bar textarea:hover {
  border-color: #9df63b;
  outline: none;
  color: #9df63b;
}

.search-bar button {
  padding: 1vh 2.5vh 1vh 2.5vh;
  background: #9df63b;
  border: none;
  border-radius: 4vh;
  color: #121212;
  font-weight: bold;
  height: 5vh;
  margin: 1.5vh;
  font-size: 2vh;
  cursor: pointer;
  transition: all 0.3s;
}

.search-bar button:hover {
  background: #b5f86c;
}

.search-bar button:active {
  background: #84f00e;
}
.search-bar button:focus {
  outline: none;
  border-color: #393939;
  border: 0.2vh solid;
  border-radius: 4vh;
}
.playlist-section {
  padding: 0;
  border: 0;
  height: 100vh;
  background: linear-gradient(112.66deg, #1b1b1b 0%, #818181 275.84%);
}

.playlist-section h3 {
  font-size: 3vh;

  margin-bottom: 2vh;
}

.playlist-section textarea {
  display: block;
  margin: 0 auto 0.5vh auto;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  z-index: 2;
  resize: none;
  text-align: justify;
  line-height: 2vh;
  overflow: hidden;
  cursor: text;
  width: 50vh;
  transition: height 0.3s ease;
  height: 2vh;
  padding: 2vh 2.5vh 2vh 2.5vh;
  border: 0.3vh solid #9df63b;
  border-radius: 3vh;
  background: #1e1e1ead;
  color: #9df63b;
  font-size: 2vh;
}
.playlist-section textarea::placeholder {
  color: #9df63b;
}
.playlist-section textarea:focus {
  outline: none;
  line-height: normal;
  height: 15vh;
}
.playlist-section textarea:hover {
  border-color: #9df63b;
  outline: none;
  color: #9df63b;
}

.playlist-section button {
  padding: 1vh 1.5vh;
  background: #9df63b;
  border: none;
  border-radius: 4vh;
  color: #121212;
  font-weight: bold;

  margin: 1.5vh;
  font-size: 1.5vh;
  cursor: pointer;
  transition: all 0.3s;
}

.playlist-section button:hover {
  background: #b5f86c;
}
.playlist-section button:active {
  background: #84f00e;
}
.playlist-section button:focus {
  outline: none;
  border-color: #393939;
  border: 0.2vh solid;
  border-radius: 4vh;
}
.playlist-section p {
  font-weight: 400;
  font-size: 1.5vh;
  padding: 0.5vh;
  margin: 0;
}
.contentPlaylist {
  top: 30vh;
  justify-content: center;
  position: relative;
  z-index: 2;
}
footer {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  z-index: 2;
  background: #1e1e1e;
  color: gray;
}

footer .info h1 {
  justify-items: center;
}
footer h1 .Tunes {
  padding-top: 0;
  margin-top: 0;
  display: block;
  text-indent: 0.9vh;
  text-align: right;
}
footer .info p {
  padding: 0;
}
footer .legal {
  padding-left: 2vh;
  width: 50vh;
  display: flex;
  flex-direction: row;
}
footer .legal-1 {
  padding-right: 1vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
footer .legal-2 {
  padding-left: 1vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .legal a {
  color: gray;
  text-decoration: none;
}
footer .legal a:hover {
  color: #9df63b;
}
footer .social-icons {
  justify-items: center;
  padding: 2vh;
}
footer .social-icons a:hover {
  fill: #9df63b;
}
